.qrScanner {
    width: 75vw;
    height: 75vw;
    max-width: 70vh;
    max-height: 70vh;
    margin: 30px auto;
}
.qrResult {
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
}