.toolslist {
	width: 100vw;
	height: calc(100vh - 70px);
	padding: 50px 0;
	.container {
		width: 80vw;
		margin: auto;
		* {
			display: block;
			font-size: 3.2rem;
			@media screen and (max-width: 700px) {
				font-size: 2.4rem;
			}
			@media screen and (max-width: 400px) {
				font-size: 2rem;
			}

			color: black;
			text-decoration: none;
			margin: 30px 0;
			span {
				display: inline-flex;
				border: 1.5px solid black;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				@media screen and (max-width: 400px) {
					width: 35px;
					height: 35px;
				}
				justify-content: center;
				align-items: center;
				margin: 20px;
			}
		}
		*:nth-child(odd) {
			text-align: left;
		}
		*:nth-child(even) {
			text-align: right;
		}
		@media screen and (max-width: 500px) {
			*:nth-child(odd) {
				text-align: center;
			}
			*:nth-child(even) {
				text-align: center;
			}
		}
	}
}
